<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.poinku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poinku"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.UpdateTugasKhususActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.KuesionerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SertifikatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.StatusAbsenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DetailEventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DaftarEventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.KriteriaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.InformasiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DetailTugasKhususActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DaftarJenisTugasKhususActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DaftarTugasKhususActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CatatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_poinku" />
    </application>

</manifest>